<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading has-text-white has-text-centered">Trends</p>
		<a class="panel-block">
			# Elon Musk to provide travel to Aasgard 
		</a>
		<a class="panel-block">
			# De Beers to acquire Infinity Stones 
		</a>
		<a class="panel-block">
			# Stark Enterprise to IPO later this year 
		</a>
	</nav>
</div>