<div class="column">
	<nav class="panel">
		<p class="panel-heading has-background-info has-text-white has-text-centered">Who To Follow</p>
	<% @users.each do | user | %>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="<%= (url_for(user.image)) %>" >
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= user.name %></strong><br>
							<small>@<%= user.username %></small>
						</p>
					</div>
				</div>
			</article>
		</div>
	<% end %>
	</nav>
</div>